<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive shadow  mt-4 bg-white rounded">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td class="text-center">
                <button class="btn btn-primary mr-2" (click)="editUser(user)">
                  <fa-icon [icon]="editIcon"></fa-icon> 
                </button>
                <button class="btn btn-danger" (click)="deleteUser(user)">
                  <fa-icon [icon]="deleteIcon"></fa-icon> 
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="alert alert-info text-center" *ngIf="users.length === 0">
        No data available.
      </div>
    </div>
  </div>
</div>
